/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 190px;
  border-radius: 20px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(135, 184, 38);
}

td {
  background-color: rgb(170, 228, 55);
}

form {
  display: flex;
  gap: 5px;
  margin-left: 220px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 23px;
}

button {
  color: blue;
  border-radius: 30px;
  background-color: white;
  box-shadow: 4px 8px 16px black;
}

button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.edit {
  background-color: rgb(66, 66, 245);
  color: white;
}
.delete {
  background-color: rgb(243, 70, 70);
  color:black;
}

.add {
  background-color: green;
  color: white;
}

.add-a-contact {
  color: black;
  margin-left: 600px;
}

.subject {
  color: black;
  margin-left: 600px;
}

.save {
  color: rgb(25, 212, 25);
}

.cancel {
  color: rgb(28, 28, 252);
}